# =========================
# C++ / Build Artifacts
# =========================

# Build dirs
/build/
# /bin/
/out/
/cmake-build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Object / binaries
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# Debug / profiling
*.log
*.dSYM/
*.prof


# =========================
# Project-Specific (Simple C++)
# =========================

tests/temp*
tests/temp**

# scpp project build output
.prism/

# Sandbox
sandbox/

# Runtime test outputs
tests/.runtime/
tests/.run-tests/
tests/runtime/native/output/
tests/runtime/native/*.out

tests/**/*.json.cpp
tests/**/*.cpp.json
tests/**/*.json.php
tests/**/*.php.json
tests/**/*.json.phs
tests/**/*.phs.json

# Generator / AST artifacts
*.ast.json
*.tmp.json
*.dump
*.phs.json

*.test-results.json

mem_container/


# =========================
# PHP / Tooling
# =========================

# Composer
/vendor/
composer.lock

# IDEs
.idea/
.vscode/

# PHP temp
*.cache
*.log

# =========================
# NetBeans
# =========================

# Project config (user-specific)
nbproject/
nbproject/private/

# Build / dist (NetBeans-managed)
nbproject/build-impl.xml
nbbuild/
dist/
build/

# Cache / temp
nbproject/private/cache/
.nb-gradle/
.dev-deploy/
