<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="dev.simplecpp.smoke">
	<uses-sdk
		android:minSdkVersion="24"
		android:targetSdkVersion="35" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:extractNativeLibs="true"
		android:theme="@style/ScppSmokeTheme"
		android:label="Simple C++ WebView">
		<activity
			android:name=".ScppWebViewSmokeActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
